<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">
    <h2>Реєстрація</h2>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Ім'я" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <input type="password" name="confirmPassword" placeholder="Підтвердіть пароль" required>
        <button type="submit">Зареєструватися</button>
    </form>
    <div class="toggle-link">
        <a href="/login" style="color: #ffffff; text-decoration: underline;">Вже є акаунт? Увійти</a>
    </div>
</div>

</body>
</html>
