<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Пошук анкет</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Пошук анкет</h1>
<div class="search-form">
    <form th:action="@{/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Введіть ключове слово..."/>
        <button type="submit">Шукати</button>
        <a th:href="@{/home}" class="button">На головну</a>
    </form>
</div>
<div class="profiles">
    <div class="card" th:each="profile : ${profiles}">
        <h3 th:text="${profile.name}">Ім'я</h3>
        <p th:text="${profile.city}">Місто</p>
        <a th:href="@{'/profile/view/' + ${profile.id}}" class="button">Переглянути</a>
    </div>
</div>
</body>
</html>
